@import 'https://fonts.googleapis.com/css?family=Passion+One|Poiret+One';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #334C5800;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a:link {
  color: #fff;
  padding: 1% 2%;
  display: inline-block;
  text-decoration: none;
  transition: all .3s;
}

nav a:visited {
  color: #444400;
}

nav a:hover {
  color: #000;
  background-color: #fff;
}

body {
  background-image: url('../images/sea.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

section.banner {
  font-size: 60px;
  font-family: serif;
  color: #fff;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.banner img{
  width: 100%;
  position:absolute;
  TOP:400px;
  LEFT:100px;
  WIDTH:400px;
  HEIGHT:450px;
}

section.banner .button {
  background-color: #fff;
  border: none;
  color: lightskyblue;
  padding: 13px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;

 transition-duration: 0.4s;

  position:absolute;
  TOP:450px;
  LEFT:1100px;

}

section.banner .button:hover {
  background-color: lightskyblue; /* Green */
  color: white;
}
/* section.trio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr  1fr  1fr 1fr 1fr 1fr  1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr  1fr 1fr 1fr 1fr 1fr 1fr  1fr;
  grid-gap: 1fr;
} */


/* section.trio h2 {
  font-family: 'Rubik', Semi-bold600;
  grid-column: 3/4;
  grid-row: 4;
  transition: all .5s;
}


section.trio div:nth-child(2) {
  background-image: url('../images/faceman.gif');
  grid-column: 2 / 6;
  grid-row: 2 ;
}

section.trio div:nth-child(3) {
  background: #d70029;
  grid-column: 6;
  grid-row: 6;
}



section.trio h1 {
  color: aliceblue;
    font-family: serif;
    font-size: 75px;
  grid-column: 2 / 6;
  grid-row: 2/4;
}
section.trio h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 90%;
    font-weight: semi;
  grid-column: 7 / 9;
  grid-row: 11;
}
  section.trio h4 {
      font-family: 'Rubik', sans-serif;
      font-size: 60%;
      font-weight: Semi;
    grid-column: 9 / 13;
    grid-row: 11 / 14;

} */
